.ClockFormRow.error .ClockFormRow--time,
.ClockFormRow.error p {
  color: red;
}

.ClockFormRow.error .ClockFormRow--time {
  border: 1px solid red;
  border-radius: 2px;
}

.ClockFormRow--heading {
  text-align: center;
  margin: 1.5rem 0 0.25rem;
}